{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="/front/static/css/weather.css">
{% endblock %}

{% block header %}
    {% include "header/only_back.html" %}
{% endblock %}

{% block content %}
    <div class="weather_detail_container flex flex-column">
        <div class="card weather_card flex flex-column">
            <div class="card_header flex flex-row">
                <div class="card_title">
                    <h3>날씨</h3>
                </div>
            </div>
            <div class="card_content flex flex-row flex-space-between">
                <img class='weather_img' src="/front/static/img/sun.png" alt="개쩌는 태양 아이콘">
                <div class="flex flex-column ">
                    <div>온도 :
                        <span class="temperature">-2.8</span>
                    </div>
                    <div>습도 :
                        <span class="humidity">79%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="days flex flex-column">
            <h3>일간예보</h3>
            <div class="card weather_header flex flex-row flex-space-between">
                {% for hour in range(24) %}
                    <div class="today_weather_item">
                        <div class="temp">
                            2°
                        </div>
                        <div class="weather_img">
                            <img src="/front/static/img/sun.png" alt="">
                        </div>
                        <div class="time_stamp">
                            {{ "%02d시"|format(hour) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="weeks flex flex-column">
            <h3>단기 예보</h3>
            <div class="card week_weather_container weather_header flex flex-column flex-space-between"
                 id="forecast-container">
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}


{% block script %}
    <script>
        document.querySelector(".info").dataset.selected = 'true';
    </script>
    <script src="/front/static/js/weather.js"></script>
    <script>
    get_current_weather('{{ cropName }}');
    get_short_weather('{{ cropName }}');

    </script>
{% endblock %}
