{% extends "base.html" %}

{% block style %}
    <link href="/css/crop_info.css" rel="stylesheet">
{% endblock %}

{% block header %}
    <div id="header">
        <div onclick="goBack();">뒤로</div>
    </div>
{% endblock %}

{% block content %}
    <div class="info_container">
        <label>재배지(주소지)
            <input class="crop_data_input" type="text">
        </label>
        <label>적성일(작물 심은 날)
            <input class="crop_data_input" type="text">
        </label>
        <button class="crop_create_btn" onclick="location.href='/front/crop/감자';">채팅방 정보 수정</button>
    </div>
{% endblock %}
{% block script %}
    <script src="/js/crop_data.js"></script>
{% endblock %}