{% extends "base.html" %}

{% block style %}
    <link href="/front/static/css/crop_info.css" rel="stylesheet">
{% endblock %}

{% block header %}
    <div id="header">
        <div onclick="goBack();">뒤로</div>
    </div>
{% endblock %}

{% block content %}
    <div class="info_container">
        <form onsubmit="return false;">
            <label>재배지(주소지)
                <input name='address' class="crop_data_input" type="text" required>
            </label>
            <label>적성일(작물 심은 날)
                <input name='creation_date' class="crop_data_input" type="date" required>
            </label>
            <button class="crop_create_btn" onclick="crop_modify('{{ cropName }}', '{{ memberId }}')">채팅방 정보 수정</button>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script src="/front/static/js/crop_data.js"></script>
{% endblock %}