.alarm_list .alarm_item {
    background: #efefef;
    border-radius: 10px;
    margin: 5px;
}


.alarm_item .content::before {
    content: "";
    display: block;
    width: 10px;
    height: 8px;
    border-radius: 25px;
    margin: 20px 20px;
}

.alarm_item .header .content p {
    width: -webkit-fill-available;
}

.alarm_item .content {
    width: 77vw;
}

.alarm_item .content.danger::before {
    background: red;
}

.alarm_item .header {
    align-items: center;
}

.toggle {
    width: 10vw;
    text-align: center;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-in-out; /* 0.3초 동안 부드럽게 변환 */
}


.alarm_item[data-open="true"] .toggle {
    transform: rotate(180deg);
}

.toggle img {
    width: 4vw;
}

.details {
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.details ul {
    padding-left: 20px;
}

.alarm_item[data-open="true"] .details {
    display: block;
    opacity: 1;
    max-height: 500px;
    margin: 0 20px 20px;
    padding-top: 20px;
    border-top: 1px solid;
    font-size: 12px;
}

.alarm_item[data-open="false"] .content {
    color: #bcbcbe;
}

.alarm_item .content {
    font-weight: bold;
}