.chat_head {
    margin-top: 10vh;
}

.chat_head img {
    width: 25vw;
}

.chat_body {
    width: -webkit-fill-available;
    height: 77vh;
    overflow: scroll;
}

.macro_container {
    margin-top: 5vh;
}

.macro_container div {
    border: 1px solid #dddddd;
    text-align: center;
    border-radius: 10px;
    background: #f7f7f8;
    margin: 10px;
}

.macro_container div p {
    color: gray;
    font-size: 13px;
}


.chat_bar_container {
    position: fixed;
    top: 85vh;
    width: 90vw;
    height: 45px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
}

.chat_bar_warpper {
    height: -webkit-fill-available;
}

.input_area input {
    width: 75vw;
    height: 5vh;
    border: none;
    outline: none;
    padding-left: 15px;
    background: none;
}

.send_btn_area img {
    width: 6vw;
    margin: 5px;
    opacity: 0.5;
}

/* 기본 버튼 스타일 */
.send_btn_area {
    cursor: not-allowed; /* 비활성화 상태 마우스 커서 */
    transition: background-color 0.3s ease;
}

/* 활성화된 버튼 스타일 */
.send_btn_area.active {
    cursor: pointer; /* 활성화 상태 마우스 커서 */
}

.send_btn_area.active img {
    opacity: 1;
}

/* 채팅 관련 */

.message_list {
    display: none;
}

.message {
    padding-right: 10px;
    font-size: 13px;
    white-space: pre-wrap;
}

.assistant .message {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15px;
}

.chat_setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.user .message {
    font-size: 13px;
    display: flex;
    white-space: pre-wrap;
    background: #e9e9e9;
    border-radius: 10px;
    max-width: 70vw;
    padding: 10px;
}

.user .edit_btn img {
    width: 5vw;
}

.edit_btn {
    padding: 5px;
}

.assistant {
    display: flex;
    flex-direction: column;
    /*margin-top: 5vh;*/
    background: #d1d1ff;
    padding: 3vw;
    border-radius: 10px;
    font-weight: bold;
}

.assistant .profile_img img {
    width: 10vw;
}

.setting_btns {
    width: 25vw;;
    justify-content: space-between;
}

.setting_btns img {
    width: 5vw;
}

.message_list {
    display: flex;
    flex-direction: column;
}

.message_list_warpper {
    margin-bottom: 2vh;
}