
ul.alert-list {
    margin: 0;
}

ul.alert-list li::marker {
    font-size: 25px;
}
li.foreCasts::marker {
    color: #73ff73;
}
li.warnings::marker {
    color: red;
}

li.advisories::marker {
    color: #ffd62c;
}

.remove_overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(175 175 175 / 50%);
    backdrop-filter: blur(3px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.remove_overlay[data-visible="false"] {
    display: none;
}

.remove_container {
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 70vw;
}


.remove_warning_icon > img {
    width: 10vw;
}

.ment p {
    margin: 0;
    font-size: 13px;
    color: gray;
}

.buttons {
    margin-top: 30px;
}

.buttons button {
    width: 30vw;
    height: 5vh;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

.keep_btn {
    color: black;
    background: #dadada;
}

.delete_btn {
    background: #fd4d4d;
    color: white;
}