.guidance_container {
    margin-bottom: 20vh;
}

.current_title {
    border: 1px solid lightgray;
    border-radius: 20px 20px 0 0;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: bold;
}

.work_container .current_title {
    border: 1px solid lightgray;
    background: #7effa5;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: bold;
}

.problem_list .current_title {
    background: #fd887d;
}

.work_list {
    background: #f7f7f8;
    padding: 0 2vw 3vh;
    border-radius: 0 0 10px 10px;
}

.work_item .title {
    font-size: 20px;
    font-weight: bold;
}

.work_item .content {
    white-space: pre-line;
    font-size: 12px;
    padding-left: 5vw;
}

.problem_list {
    margin-top: 5vh;
}

.problem_item {
    background: #f7f7f8;
    padding: 0 2vw 3vh;
    border-radius: 0 0 10px 10px;
}