#header {
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#header div {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

#header.setting {
    flex-direction: row-reverse;
}


#header.dashboard .right_area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.right_area .delete_btn {
    background-color: #e84141;
    border-radius: 15px;
}