.pests_list.danger .title_container {
    background-color: #fd352e;
}

.pests_list.warning .title_container {
    background-color: #fde52e;
}

.title_container {
    display: flex;
    flex-direction: column;
    /*border: 1px solid;*/
    text-align: center;
    padding: 3vw;
    border-radius: 5px 5px 0 0;
    margin-top: 3vh;
    font-weight: bold;
    font-size: 19px;
}

.content_container {
    background: #f7f7f8;
    padding: 6vw;
    border-radius: 0 0 5px 5px;
    border: 1px solid lightgray;
}

