
.search_bar {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    border: 1px solid lightgray;
}

.search_bar > img {
    width: 20px;
    margin-left: 10px;
}

.search_bar > input {
    background-color: #f0f0f0;
    border: none;
    width: 90%;
    height: 30px;
    margin-left: 10px;
    font-size: 15px;
}