body {
    margin: 0;
    padding: 0;
    /*overflow-y: hidden;*/
}


/* body 크기를 디스플레이 크기에 맞추기 */
main {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

main > div {
    margin: 1vh 5vw;
}

.card {
    border: 1px solid lightgray;
    background: #f5f5f6;
    border-radius: 15px;
    margin-top: 25px;
}


.card_header {
    align-items: center;
    justify-content: space-between;
}

.card_content {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.card_title {
    margin-left: 20px;
}

.card_detail_btn {
    margin-right: 20px;
    color: #7d7d7d;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.align-center{
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}