{% extends "base.html" %}

{% block style %}
    <link href="/css/recommend.css" rel="stylesheet">
{% endblock %}
{% block header %}
    <div id="header">
        <div onclick="goBack();">뒤로</div>
    </div>
{% endblock %}
{% block content %}
    <div class="quiz_container">
        <!-- 재배 기간 -->
        <div class="quiz_title">
            <h4>원하는 재배 기간은 어떻게 되시나요?</h4>
        </div>
        <ul class="quiz_list">
            <li onclick="location.href='/front/recommend/q4'">초단기(30~119일)</li>
            <li onclick="location.href='/front/recommend/q4'">단기 (80~120일)</li>
            <li onclick="location.href='/front/recommend/q4'">중기(100~200일)</li>
        </ul>
    </div>
{% endblock %}
