{% extends "base.html" %}

{% block style %}
    <link href="/front/static/css/recommend.css" rel="stylesheet">
{% endblock %}
{% block header %}
    <div id="header">
        <div onclick="goBack();">뒤로</div>
    </div>
{% endblock %}
{% block content %}
    <div class="quiz_container">
        <div class="quiz_title">
            <h4>재배 경험은 어떤 수준인가요?</h4>
        </div>
        <ul class="quiz_list">
            <li onclick="location.href='./q3'">아예 처음임</li>
            <li onclick="location.href='./q3'">집에서 간단한 식물을 키워봄</li>
            <li onclick="location.href='./q3'">야외농사로 성공적인 수확을 해봄</li>
        </ul>
    </div>
{% endblock %}