{% extends "base.html" %}
{% block style %}
    <link href="/front/static/css/style.css" rel="stylesheet">
{#    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">#}
{#    <link href="{{ url_for('static', path='/css/header.css') }}" rel="stylesheet">#}
    <link href="/front/static/css/header.css" rel="stylesheet">
{#    <link href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet">#}
    <link href="/front/static/css/index.css" rel="stylesheet">
{% endblock %}
{% block header %}
    <div id="header" class="setting">
        <div onclick="location.href='./setting'">설정</div>
    </div>
{% endblock %}
{% block content %}
    <div class="crop_list-container">
        <div class="crop_list-header">
            <h2>작물 목록</h2>
            {% include "search_bar.html" %}
        </div>
        <div class="crop_list-main">
            <div class="crop" data-type="감자" data-created="false">
                <div class="crop-img">
                    <img src="{{ url_for('static', path='img/crops/감자.png') }}" alt="감자">
                </div>
                <div class="crop-title">
                    <span>감자</span>
                </div>
            </div>
            <div class="crop" data-type="고구마" data-created="false">
                <div class="crop-img">
                    <img src="{{ url_for('static', path='img/crops/고구마.png') }}" alt="고구마">
                </div>
                <div class="crop-title">
                    <span>고구마</span>
                </div>
            </div>
            <div class="crop" data-type="당근" data-created="false">
                <div class="crop-img">
                    <img src="{{ url_for('static', path='img/crops/당근.png') }}" alt="당근">
                </div>
                <div class="crop-title">
                    <span>당근</span>
                </div>
            </div>
            <div class="crop" data-type="양파" data-created="false">
                <div class="crop-img">
                    <img src="{{ url_for('static', path='img/crops/양파.png') }}" alt="양파">
                </div>
                <div class="crop-title">
                    <span>양파</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block script %}
{#    <script src="{{ url_for('static', path='/js/index.js') }}"></script>#}
    <script src="/front/static/js/index.js"></script>
{% endblock %}