{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="/front/static/css/pests_detail.css">
{% endblock %}

{% block header %}
    {% include "header/only_back.html" %}
{% endblock %}

{% block content %}
    <div class="fests_container flex flex-column">
        <div class="pests_list danger flex flex-column">
            <div class="title_container">
                <div class="title">경보</div>
            </div>
            <div class="content_container">
                <div class="pest_item">
                    <div onclick="location.href +='/detail'" class="pest">- 탄저병</div>
                </div>
            </div>
        </div>
        <div class="pests_list warning">
            <div class="title_container  flex flex-column">
                <div class="title">주의보</div>
            </div>
            <div class="content_container flex flex-column">
                <div class="pest_item">
                    <div class="pest">- 무름병</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}


{% block script %}
    <script>
        document.querySelector(".info").dataset.selected = 'true';
    </script>
{#    <script src="{{ url_for('static', path='/js/pests_detail.js') }}"></script>#}
{% endblock %}
