{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bookmark.css') }}">
{% endblock %}

{% block header %}
    {% include "header/only_back.html" %}
{% endblock %}

{% block content %}
    {% include "search_bar.html" %}
    <div class="bookmark-container">
    </div>
{% endblock %}

{% block footer %}
    {% include "footer/footer.html" %}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', path='/js/bookmark.js') }}"></script>
    <script>
        load_bookmark('{{ crop_name }}');
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let imgs = document.querySelectorAll('.toggle img');
            imgs.forEach(img => {
                img.src = "{{ url_for('static', path='/img/arrow.png') }}"
            })
        })
    </script>
{% endblock %}