{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="/front/static/css/setting.css">
{% endblock %}

{% block header %}
    {% include "header/only_back.html" %}
{% endblock %}

{% block content %}
    <div class="setting_container">
        <div class="title">
            <h2>설정</h2>
        </div>
        <div class="setting_wrapper">
            <div class="setting">
                <div class="setting_name">
                    <p>작물 알람</p>
                </div>
                <div class="toggle">
                    <label class="toggle_switch">
                        <input type="checkbox" class="toggle_input" checked>
                        <span class="toggle_slider"></span>
                    </label>
                </div>
            </div>
            <div class="setting">
                <div class="setting_name">
                    <p>병해충 알림</p>
                </div>
                <div class="toggle">
                    <label class="toggle_switch">
                        <input type="checkbox" class="toggle_input" checked>
                        <span class="toggle_slider"></span>
                    </label>
                </div>
            </div>
            <div class="setting">
                <div class="setting_name">
                    <p>기상 알림</p>
                </div>
                <div class="toggle">
                    <label class="toggle_switch">
                        <input type="checkbox" class="toggle_input" checked>
                        <span class="toggle_slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="/front/static/js/setting.js"></script>
{% endblock %}